*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --general-color: #3755eb;
    --rubrik-font-family: garamond;
    --rubrik-font-size: 30px;
    --text-font-family: Georgia;
    --text-font-size: 15px;
    --border: 1px solid black;
    --border-radius:5px;
}
body{
    width: 100%;
    height: 1500px;
    background-color: #3755eb;
}

#nav {
    position: fixed;
    width: 100%;
    list-style-type: none;
    height: 89px;
   display: flex;
   justify-content: center;
   overflow: hidden;
    background-color: #303f8d;
    align-items: center;
    margin-top: 10px;

  }

  .iteam {
    float: left;


  }

  #nav .iteam {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #nav .iteam:hover {
    background-color: rgb(238, 238, 238);
    color: blue;
    border-radius: 5px;
  }

  .iteam  {
    display: inline-block;

  }

  #img1{

    width: 5%;
    left:0;
  }



  #img2{
    width: 100%;
    height: 300px;
    margin-top: 0px;

  }


#logo-text{
    margin-right: 35%;
    margin-left: 10px;
    color: antiquewhite;
    font-family: garamond;
    font-size: 30px;
}

#pochettino-rukrik{
    color: white;
    font-family: var(--rubrik-font-family);
    font-size: var(--rubrik-font-size);
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}


  #artikel-container{
    display: grid;
    grid-template-columns: repeat(10,1fr) ;
    grid-template-rows:repeat(6, 10vw);

  }

#pochettino-img{
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 0px;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 7;
    border-radius: var(--border-radius);
}

#sidebar{
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 5;
    height: 100px;
    vertical-align: bottom;
 
}



#other-news{
    padding-top: 60px;
    color: white;
    text-decoration: underline;
    height: 125px;
    text-align: center;
}

#infinite-athlete{
    color: white;
    border:1px solid black;
    height: 125px;
    text-align: center;
    padding-top: 88px;
    background-image: url(../img/infinite\ athlete\ vanlig\ bild.png);
    background-size: 100%;
}
#chilwell-injury{
    padding-top: 85px;
    color:white;
    border:1px solid black;
    height: 125px;
    text-align: center;
    background-image: url(../img/chilwell\ skada.webp);
    background-size: 100%;
}

#kante{
    padding-top: 95px;
    color: white;
    border:1px solid black;
    height: 125px;
    text-align: center;
    vertical-align:bottom;
    background-image: url(../img/kante.webp);
    background-size: 100%;
}



#text{
    color: black;
    border: 1px solid black;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 2px;
    border-radius: var(--border-radius);
    font-family:var(--text-font-family);
    font-size: var(--text-font-size);
    letter-spacing: 1px;
    margin-bottom:150px ;
}


a{
  text-decoration: none;
  
}
a:visited{
  color: white;
}
a:hover{
  text-decoration: underline;
}
/*footer styling*/
.footer-container{
  width: 100%;
  height: 100px;
  
}


footer {
  
  bottom: 0;
  background-color: #1e3773;
  color: #fff;
  height: 260px;
  width: 100%;
  padding-top: 40px;
  margin: 0;
  
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h2{
  font-size: 28px;
}
h5{
  font-size: 18px;
}
p{
 
  font-size: 18px;
}
.icon{
 
  list-style: none;
  display: flex;
  font-size: 35px;
 
  
}
.icon li{
margin-left:40px ;
margin-right: 40px;

 
}
.icon a{
  color: rgb(255, 255, 255);
}
.icon a:hover{
  color: rgb(241, 7, 7);
}
