
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 1800px;
    background-color: #3755eb;
}

:root{
    --general-color: #3755eb;
    --rubrik-font-family: garamond;
    --rubrik-font-size: 30px;
    --text-font-family: Georgia;
    --text-font-size: 15px;
    --border: 1px solid black;
    --border-radius:5px;


}

#nav {
    position: fixed;
    width: 100%;
    list-style-type: none;
    height: 89px;
   display: flex;
   justify-content: center;
   overflow: hidden;
    background-color: #303f8d;
    align-items: center;
    margin-top: 10px;
    
  }
  
  .iteam {
    float: left;
    
    
  }
  
  #nav .iteam {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #nav .iteam:hover {
    background-color: rgb(238, 238, 238);
    color: blue;
    border-radius: 5px;
  }
  
  .iteam  {
    display: inline-block;

  }
  
  #img1{
    
    width: 5%;
    left:0;
  }
 
 

  #img2{
    width: 100%;
    height: 300px;
    margin-top: 0px;
   
  }
  
 
#logo-text{
    margin-right: 35%;
    margin-left: 10px;
    color: antiquewhite;
    font-family: garamond;
    font-size: 30px;
}


.news{
  color: white;
  font-family: var(--rubrik-font-family);
  font-size: var(--rubrik-font-size);
  text-decoration-line: underline;
  text-align: center;
  padding: 50px 0px 50px 0px;
}
#chilwell-injury{
width: 80%;
height: 700px;
margin-left: 10%;
margin-right: 10%;
border-radius: var(--border-radius);
}
.rubrik-chilwell{
color: white;
font-family: var(--rubrik-font-family);
font-size: var(--rubrik-font-size);
margin-left: 10%;
margin-right: 10%;
margin-bottom: 200px;


}
#pochettino-img, #infinite-athlete-img{
max-width: 500px;
border-radius: var(--border-radius);
}
#container{
text-align: center;
display: flex;
align-content: center;
width: 100%;
gap: 1%;
margin-bottom: 100px;
}

h3{
font-family: var(--rubrik-font-family);
font-size: var(--rubrik-font-size);
color: white;

}

.infinite-rubrik{
margin-left: 10%;
margin-right: 10%;
font-family: var(--rubrik-font-family);
font-size: var(--rubrik-font-size);
color: white;

}
.pochettino-rubrik{
margin-right: 10%;
margin-left: 10%;
font-family: var(--rubrik-font-family);
font-size: var(--rubrik-font-size);

}

#infinite-athlete{
color: white;
font-family: var(--rubrik-font-family);
font-size: var(--rubrik-font-size);

}



#pochettino{
color: white;
font-family: var(--rubrik-font-family);
font-size: var(--rubrik-font-size);

}


#Kante-rubrik{
color: white;
font-family: var(--rubrik-font-family);
font-size: var(--rubrik-font-size);
padding: 20px 0px 150px 10%;
}

#kante{
width: 80%;
height: 750px;
margin-left: 10%;
margin-right: 10%;
border-radius: var(--border-radius);
}

a{
text-decoration: none;

}
a:visited{
color: white;
}
a:hover{
text-decoration: underline;
}



/*footer styling*/
.footer-container{
  width: 100%;
  height: 100px;
  
}


footer {
  
  bottom: 0;
  background-color: #1e3773;
  color: #fff;
  height: 260px;
  width: 100%;
  padding-top: 40px;
  margin: 0;
  
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h2{
  font-size: 28px;
}
h5{
  font-size: 18px;
}
p{
 
  font-size: 18px;
}
.icon{
 
  list-style: none;
  display: flex;
  font-size: 35px;
 
  
}
.icon li{
margin-left:40px ;
margin-right: 40px;

 
}
.icon a{
  color: rgb(255, 255, 255);
}
.icon a:hover{
  color: rgb(241, 7, 7);
}
