*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 1800px;
    background-color: #3755eb;
}

:root{
    --general-color: #3755eb;
    --rubrik-font-family: garamond;
    --rubrik-font-size: 30px;
    --text-font-family: Georgia;
    --text-font-size: 15px;
    --border: 1px solid black;
    --border-radius:5px;


}

#nav {
    position: fixed;
    width: 100%;
    list-style-type: none;
    height: 89px;
   display: flex;
   justify-content: center;
   overflow: hidden;
    background-color: #303f8d;
    align-items: center;
    
  }
  
  .iteam {
    float: left;
    
    
  }
  
  #nav .iteam {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #nav .iteam:hover {
    background-color: rgb(238, 238, 238);
    color: blue;
    border-radius: 5px;
  }
  
  .iteam  {
    display: inline-block;

  }
  
  #img1{
    
    width: 5%;
    left:0;
  }
 
 

  #img2{
    width: 100%;
    height: 300px;
    margin-top: 0px;
   
  }
  
 
#logo-text{
    margin-right: 35%;
    margin-left: 10px;
    color: antiquewhite;
    font-family: garamond;
    font-size: 30px;
}


/*footer styling*/
.footer-container{
    width: 100%;
    height: 100px;
    
}


footer {
    
    bottom: 0;
    background-color: #1e3773;
    color: #fff;
    height: 260px;
    width: 100%;
    padding-top: 40px;
    
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h2{
    font-size: 28px;
}
h5{
    font-size: 18px;
}
p{
   
    font-size: 18px;
}
.icon{
   
    list-style: none;
    display: flex;
    font-size: 35px;
   
    
}
.icon li{
   margin: 50px 90px;
  
   
}
.icon a{
    color: rgb(255, 255, 255);
}
.icon a:hover{
    color: rgb(241, 7, 7);
}

#container{
  display: flex;
  flex-grow: 1;
  gap: 2rem;
  margin-top: 0;
  /*flex-wrap: wrap;*/
  
  

}
/*Link of the nav-bar to my page*/
#navlink-to-page:visited{
  color: purple;
  text-decoration: none;
}
#navlink-to-page:link{
  text-decoration: none;
  color: antiquewhite;
  
}
#navlink-to-page:hover{
  color: yellowgreen;
  text-decoration:underline;

}
/* player-card link's*/
#player-container .item a:visited{
  color: purple;
  text-decoration: none;
}
#player-container .item a:link{
  color:antiquewhite;
  text-decoration: none;
  
}
#player-container .item a:hover{
  color: yellowgreen;
  text-decoration:underline;
  
  
}

#player-container .item a:active{
  border-radius: 1rem;
  color: aliceblue;
}
#player-container .item a:hover{
  color: yellowgreen;
  text-decoration:underline;
  
  border-radius: 1rem;
}
/*@media (min-width: 760px) {
  sidebar-for-news{
      width:300px;
  }

  

}
*/


#player-container {
  
  border: var(--border);
  border-radius: var(--border-radius);
  font-family: var(--rubrik-font-family);
  font-size: var(--rubrik-font-size);
  display: grid;
  grid-template-columns:1fr 1fr 1fr ;
  grid-template-areas: 
 
  "player1 player2 player3"
  "player4 player5 player6"
  "player7 player8 player9"
  "player10 . player11"
 
  ;
  gap: 1rem;
  margin-top: 10rem;
  grid-area: player-container;
  width: fit-content;
  background-color: antiquewhite;
}
@media (min-width: 768px) and (max-width: 960px){
  #player-container {
  
      border: var(--border);
      border-radius: var(--border-radius);
      font-family: var(--rubrik-font-family);
      font-size: var(--rubrik-font-size);
      display: grid;
      grid-template-columns:1fr 1fr ;
      grid-template-areas: 
     
      "player1 player2"
      "player3 player4"
      "player5 player6"
      "player7 player8 "
      "player9 player10"
      " . player11"
     
      ;
      gap: 1rem;
      margin-top: 10rem;
      grid-area: player-container;
      width: fit-content;
      background-color: antiquewhite;
  }

}
  
@media (max-width: 768px){
  #player-container {
  
      border: var(--border);
      border-radius: var(--border-radius);
      font-family: var(--rubrik-font-family);
      font-size: var(--rubrik-font-size);
      display: grid;
      grid-template-columns:1fr ;
      grid-template-areas: 
     
      "player1"
      "player2"
      "player3"
      "player4"
      "player5" 
      "player6"
      "player7" 
      "player8 "
      "player9" 
      "player10"
      "player11"
     
      ;
      gap: 1rem;
      margin-top: 10rem;
      grid-area: player-container;
      width: fit-content;
      background-color: antiquewhite;
  }



}



#player-container .item{
  
  
  border: var(--border);
  border-radius: var(--border-radius);
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
  min-height: auto;
  min-width: 300px;
  text-align: center;
  text-decoration-thickness: 25%;
  padding: 1rem;
  padding-top:0.25rem;
 

}

#player-container .item img{
  max-width: 100%;
} 


#player1{
  grid-area: player1;
}
#player2{
  grid-area: player2;
}
#player3{
  grid-area: player3;
}
#player4{
  grid-area: player4;
}
#player5{
  grid-area: player5;
}
#player6{
  grid-area: player6;
}
#player7{
  grid-area: player7;
}
#player8{
  grid-area: player8;
}
#player9{
  grid-area: player9;
}
#player10{
  grid-area: player10;

}
#player11{
  grid-area: player11;
}

#sidebar-for-news{
  border: var(--border);
  border-radius: var(--border-radius);
  font-family: var(--rubrik-font-family);
  font-size: var(--rubrik-font-size);
  

  margin-top: 10rem;
  height: 2000px;
  background-color: antiquewhite;
  text-align: center;


}
.player-image{
  border: 1px solid black;
  background-color: antiquewhite;
  

}
.player-image:hover{
  border: 1px solid black;
  background-color:#3755eb;
  

}
#player-container .item{
  background-color:black;

}
.news{
  border: var(--border);
  border-radius: var(--border-radius);
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
  min-height: 700px;
  min-width: 200px; 
  display: flex;
  flex-flow: column wrap;
  gap: 0rem;
  background-color: antiquewhite;
  grid-area: sidebar-for-news;
  text-align: center;

 
  
}
#news1{
  margin-top: 3rem;
  margin-bottom: 10rem;
  
  
}


.news-pics{
  max-width: 100%;
  height: auto;
}
